:host {
  display: block;
}

.ts-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ts-navbar-start {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ts-navbar-end {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ts-navbar-logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--brand-900);
}
